<template name="CreateSurvey">
  <form class="form-horizontal newSurvey">
  <fieldset>

  <!-- Form Name -->
  <legend>New Survey</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textinput"> Name of survey</label>
    <div class="col-md-6">
    <input id="name" name="name" type="text" class="form-control input-md">

    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea"> Description</label>
    <div class="col-md-4">
      <textarea class="form-control" id="description" name="description"></textarea>
    </div>
  </div>

  <!-- Button -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button id="nextButton" name="nextButton" class="btn btn-success">Next Step</button>
    </div>
  </div>

  </fieldset>
  </form>

</template>
