<template name = "MySurveys">
  <h1> MySurveys </h1>
  <br>
  {{#each surveys}}
    {{> survey}}
  {{/each}}
</template>

<template name = "survey">
  <div class="well">
    <h3>{{name}}</h3>
    {{description}}

    <div class="btn-group" role="group" style="float:right">
      <a href="#" id="deleteSurvey" class="btn btn-danger">Delete</a>
      <a href="/updateSurvey/{{_id}}" class="btn btn-warning">Update</a>
      <a href="/statistics/{{_id}}" class="btn btn-default">Statistics</a>
    </div>
  </div>
</template>
