<template name = "UpdateSurvey">
  <h1>{{survey.name}}</h1>
  <p> {{survey.description}}</p>

  Link: <a href="/survey/{{survey._id}}"> link </a>

  <hr>

  <div id="editQuestions">
    {{#each questions}}
      {{>question}}
    {{/each}}
  </div>

  <center>{{> addQuestion}}</center>

</template>

<template name="addQuestion">
    <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" >
      Add Question <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li id="freequestion"><a href="#">Free Question</a></li>
      <li id="answer10"><a href="#">Answer 1 to 10</a></li>
      <li id="starrating"><a href="#">Star Rating</a></li>
    </ul>
  </div>
</template>

<template name="question">
  <div class="editQuestion well">
    {{#if equal type "freequestion"}}
      <h4> Type: Free Question </h4>
    {{/if}}
    {{#if equal type "answer10"}}
      <h4> Type: Answer 1 to 10 </h4>
    {{/if}}
    {{#if equal type "starrating"}}
      <h4> Type: Star Rating </h4>
    {{/if}}

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput"> Question: </label>
      <div class="col-md-6">
      <input id="{{_id}}" name="question" value="{{question}}" type="text" class="form-control input-md">

      </div>
    </div>

    <br>

    <button name="delete" class="btn btn-danger">Delete</button>

  </div>
</template>
