<template name = "ViewSurvey">
  <h2>{{survey.name}}</h2>
  <p>{{survey.description}}></p>

  Intrebarea numarul: {{questionNumber}}

  <hr>

  {{> viewQuestion}}

  <a id="next" class="btn btn-default" href="/survey/{{survey._id}}/{{nextQuestion}}">Next Question</a>

</template>

<template name="viewQuestion">
  <div class="well">
    <h4> {{question.question}} </h4>
    {{#if equal question.type "freequestion"}}
      <textarea class="form-control" id="answer" name="answer"> </textarea>
    {{/if}}
    {{#if equal question.type "answer10"}}
      <label class="radio-inline" for="radios-0">
        <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
        1
      </label>
    {{/if}}
    {{#if equal question.type "starrating"}}
      <div class="rateit"></div>
    {{/if}}
  </div>

</template>
